# Python
__pycache__/
*.py[cod]
*.pyc
build/
dist/
venv/
env/
.venv/
.env
.vscode/
detection_results/
handeye_calibration_data/
temp/
weights/
wrapper/__pycache__/
capture_output/
coordinate_transform/__pycache__/
